<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/bank.css}" href="/static/css/bank.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <title>My Bank Account</title>
</head>
<body>
<section>
    <header>
        <h1>My Bank Account</h1>
        <div class="user-profile">
            <p>User Name: [[${user.getFullName()}]]</p>
        </div>
        <div class="user-account">
            <p>Account Number: [[${account.getAccount_num()}]]</p>
        </div>
        <div class="user-logout">
            <p><a th:href="@{/logout}" href="/logout">Logout</a></p>
        </div>
    </header>
    <hr id="firsthr">
    <div class="user-first-tables">
        <table>
            <caption>Account Balance</caption>
            <tr>
                <th>Currency</th>
                <th>Balance</th>
            </tr>
            <tr>
                <td>CZK</td>
                <td th:text="${account.getCrown_balance()}"></td>
            </tr>
            <tr>
                <td>USD</td>
                <td th:text="${account.getDollar_balance()}"></td>
            </tr>
            <tr>
                <td>EUR</td>
                <td th:text="${account.getEuro_balance()}"></td>
            </tr>
        </table>
        <table>
            <caption>Current exchange rate</caption>
            <tr>
                <th>Currency</th>
                <th>Amount</th>
            </tr>
            <tr>
                <td>USD</td>
                <td>[[${currencyData.getDollar()}]]</td>
            </tr>
            <tr>
                <td>EUR</td>
                <td>[[${currencyData.getEuro()}]]</td>
            </tr>
        </table>
    </div>
    <div class="void-place">
        <p>.</p>
    </div>
    <div class="user-second-tables">
        <table class="scroll-row">
            <caption>Transaction History</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody class="scroll-container">
            <tr th:each="item: ${transactionList}">
                <td th:text="${item.getDate()}" style="margin-left: 10px;"></td>
                <td th:text="${item.getAmount()}"></td>
                <td th:text="${item.getCurrency()}"></td>
                <td th:text="${item.getDescription()}"></td>
            </tr>
            </tbody>
        </table>

        <form class="money-form" method="post" th:action="@{/transactions}">
            <label id="transactions-label">Transactions</label>
            <input type="number" name="amount" min="1" max="999999999" pattern="\d*" placeholder="Amount">
            <select name="currencyFrom">
                <option value="CZK">CZK</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <label id="change-label">Change To:</label>
            <select name="currencyTo">
                <option value="CZK">CZK</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
            <button type="submit" id="add-button" name="action" value="add">Add</button>
            <button type="submit" id="pay-button" name="action" value="pay">Pay</button>
        </form>
    </div>
</section>
</body>
</html>