<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    <main id="main-holder">
        <h1 id="signup-header">Sign up</h1>
        <form id="signup-form">
            <input type="text" name="username" id="username-field" class="signup-form-field" placeholder="User Name">
            <input type="text" name="usersurname" id="usersurname-field" class="signup-form-field" placeholder="User Surname">
            <input type="text" name="e-mail" id="e-mail-field" class="signup-form-field" placeholder="E-mail">
            <input type="password" name="password" id="password-field" class="signup-form-field" placeholder="Password">
            <input type="password" name="confirm-password" id="confirm-password-field" class="signup-form-field" placeholder="Confirm password">
            <input type="submit" value="Sign up" id="signup-form-submit">
        </form>
        <p id="signup-form-login-link">Already have an account? <a href="/static">Login</a></p>
    </main>
    
</body>
</html>