<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/verification.css}" href="/static/css/verification.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <title>Verification Page</title>
</head>

<body>
    <main id="main-holder">
        <h1 id="verify-header">Login</h1>
        <div id="verify-error-msg-holder">
            <p id="verify-error-msg">Invalid Code!</p>
        </div>
        <form id="verify-form" method="post" th:action="@{/verify}">
            <div class="form-outline form-white mb-4">
                <label class="verify-form-label" for="typeEmailX">Code has been sent to your email address!</label>
                <br>
                <input type="string" name="code" class="verify-form-field" placeholder="Code"/>
            </div>
            <button type="submit" value="Verify" id="verify-form-submit">Verify</button>
        </form>
    </main>
</body>